
.oops {
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
}
.flex {
    display: flex;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

body {
    background-color: rgb(254, 248, 243);
    margin: 0;
    padding: 0;
}
.landingimg {
    width: 200px;
}
.landing {
    width: auto;
    background-color: rgb(237, 243, 229);

}
.mainc {
    width: 80%;
    padding: 5%;
    margin: auto;
    justify-content: space-between;
}
.navbuttons {
    height: 40px;
}
.navbuttons a {
    line-height: 40px;
    padding-left: 5px;  
    padding-right: 5px;  
    float: left;
    text-decoration: none;
}
.navbuttons a:hover {
    background-color: rgb(235, 226, 219);
}
.nav {
    height: 50px;
    padding: 10px 0px 0px 5px;
}

.paragraph {
    width: 80%;
    margin: auto;
    color: #2b2b35;
}
.paragraph h1  {
    text-align: center;
}
.paragraph p {
    text-align: justify;
}
